/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
}

nav {
    display: flex;
    align-items: center;
    height: 60px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    margin-top: 20px;
}

/* Image hover effect */
.image-container {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
    margin: 60px auto; /* Añade más espacio superior para bajar las imágenes */
    max-width: 80%; /* Limita el ancho del contenedor */
    padding: 10px; /* Añade espacio interno */
}

.image-hover {
    position: relative;
    width: 300px;
    height: auto;
}

.image-hover img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease; /* Transición suave */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Imagen oculta por defecto */
    transition: opacity 0.5s ease; /* Transición suave */
}

.image-hover:hover .hover-image {
    opacity: 1; /* Muestra la segunda imagen al hacer hover */
}

.image-hover:hover img:first-child {
    opacity: 0; /* Oculta la primera imagen al hacer hover */
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }
    
    .image-hover {
        width: 100%;
    }

    footer p {
        font-size: 14px;
    }
}
