body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 0; /* Area de Relleno 0 para que el logo y la cinta ocupen el mismo espacio */
}

nav {
    display: flex; /* alinea los elementos */
    align-items: center; /* Centra en vertical los elementos */
    height: 60px; /* Altura de la cinta de navegación */
}

.logo-container {
    margin: 0; /* Sin márgenes */
}

.logo {
    height: 50px; /* Ajusta la altura del logo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* alinea horizontalmente */
    flex-grow: 1; /* hace que el menu use el espacio que sobra */
    justify-content: center; /* Centra las opciones */
}

nav ul li {
    margin-left: 20px; /* Espacio entre los elementos de la lista */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* tamaño de la fuente  */
    line-height: 60px; /* Alinea verticalmente el texto de la barra de opciones de color negro */
}

.content {
    display: none; /* Ocultar contenido por defecto */
}

footer {
    position: absolute; 
    bottom: 0; 
    width: 100%;
}

footer p {
    text-align: center; 
    margin-top: 20px;
}
.Imagen-de-cambio:hover{
    content: url(Imagenes/XiaomiMobil2.webp);
}
.Imagen-de-cambio2:hover{
    content: url(Imagenes/LaptoXiaomi2.jpg);
}
.Imagen-de-cambio3:hover{
    content: url(Imagenes/PC2.jpeg);
}